// below 2020.08.30 add by jiangting
#menu {
    position: fixed;
    width: 160px;
    height: 270px;
    left: 20px;
    bottom: 0;
    background-color: #6ca82b;
    z-index: 10;
}

//@media (min-width: 960px)
//#menu, #menu-links {
//    display: block;
//}

#menu .name {
    margin-top: 10px;
    line-height: 35px;
    font-size: 24px;
}

#menu .icons {
    margin-top: 15px;
}

#menu .hr1, #menu .hr2 {
    border: 1px solid;
    color: #000;
    margin-top: 10px;
}

#menu .hr1 {
    width: 140px;
    margin-left: 10px;
}

#menu .hr2 {
    width: 120px;
    margin-left: 20px;
}

#menu .links-p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

#menu .links {
    margin-bottom: 5px;
    font-size: 16px;
}
#menu-links address {
  list-style: none;
  margin: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
