<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <% if(archive) { %>
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MM-DD'}) %>
      <% } else { %>
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MM-DD'}) %> <!-- by blair modify date-->
      <% } %>
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
    </header>
  </div>
</article>
